/ * quitar estilos por defectos * /
 * { 
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
 }
  /* fondo general */
  body { 
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(240, 234, 234) ;
  }
   /* título principal*/ 
   h1 { 
    color:rgb(61, 76, 126) ; 
    text-align: center;
    margin-top: 20px;
   }
   /* párrafos */
   p {
    font-size: 16px;
    color: rgb(8, 7, 7);
    text-align: center;
   }
   /* imágenes */
   img {
    display: block;
    margin: 20px auto ;
    width: 300px;
    border-radius: 10px;
   }
   /* botones */
   button {
    display: block;
    margin: 20px auto;
    padding: 10px;
    background-color: rgb(233, 221, 221) ;
    color: white;
    border: none;
    border-radius: 5px;
   }
   /* efecto al pasar el mouse */
    button:hover {
        background-color: rgb(216, 201, 201);
    }
   

   